@font-face {
    font-family: Robotic;
    src: url(font/Robtronika-4Bq8p.ttf);
}

@font-face {
    font-family: Roboticbody;
    src: url(font/good_times.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0b1221;
    color: whitesmoke;
}

header {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #0b1221;
    display: flex;
    justify-content: left;
    color: white;
    position: relative;
    padding: 1.5rem;
}

header canvas {
    position: absolute;
    top: 0;
    left: 0;
}

header .header-content {
    z-index: 10;
    margin-top: 3rem;
}

.header-line1 {
    display: flex;
    justify-content: left;
    text-align: left;
}

.header-content .logo {
    display: inline-block;
    width: 100px;
}

.header-content .hlogo {
    display: inline-block;
    width: 350px;
}

.presents {
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

header .title {
    z-index: 10;
    margin-top: 3rem;
    /* margin: auto; */
}

main {
    background-color: #0b1221;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.mentor-card {
    width: 280px;
    height: 400px;
    /* border: limegreen 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    margin: 1rem;
}

.mentor-card img {
    border-radius: 50%;
    /* border: limegreen 1px solid; */
    width: 200px;
    display: inline-block;
    margin: auto;
}

.platform a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.platform img {
    width: 200px;
}

.accordion {
    font-family: Roboticbody;
    color: #f9ce47;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: 1px solid #f9ce47;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\002B';
    color: #f9ce47;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    margin: 10px auto;
    text-align: center;
    padding: 0 18px;
    background-color: #0b1221;
    max-height: 0;
    overflow: hidden;
    width: 75%;
    transition: max-height 0.2s ease-out;
    align-self: auto;
    font-size: 1.2em;
}

hr {
    background-color: #f9ce47;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    text-align: left;
    margin-left: 100px;
    font-size: 1em;
}

footer p {
    font-family: sans-serif;
}

footer a img {
    height: 32px;
    width: 32px;
    display: inline-flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.small-icons {
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 12px;
}

footer h3 {
    margin-left: 15px;
}

.contact {
    display: flex;
}

.copyright {
    text-align: center;
    justify-content: center;
    color: gray;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}


/* * {
    outline: limegreen 1px solid;
} */