@keyframes flicker-1 {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 70px #f9ce47ff, 0 0 80px #f9ce47ff, 0 0 90px #f9ce47ff;
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.neonText {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #fff;
    animation: flicker-1 1.5s infinite alternate;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: Robotic;
    src: url(font/Robtronika-4Bq8p.ttf);
    font-display: swap;
}

@font-face {
    font-family: Roboticbody;
    src: url(font/good_times.ttf);
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0b1221;
    color: whitesmoke;
}

nav {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    /* position: fixed; */
}

nav a {
    text-decoration: none;
    font-family: Robotic;
    text-shadow: 0 0 7px green;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

header {
    height: 85vh;
    width: 100vw;
    max-width: 100%;
    background-color: #0b1221;
    display: flex;
    justify-content: left;
    color: white;
    padding: 1.5rem;
    position: relative;
    margin-bottom: 20vh;
}

header canvas {
    position: absolute;
    top: 0;
    left: 0;
}

header .header-content {
    z-index: 10;
    margin-top: 3rem;
}

.header-line1 {
    display: flex;
    justify-content: left;
    text-align: left;
}

.header-content .logo {
    display: inline-block;
    width: 100px;
}

.header-content .hlogo {
    display: inline-block;
    width: 350px;
}

.presents {
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 300;
    font-style: italic;
    margin-left: 1.5rem;
}


/* header .title {
    z-index: 10;
    margin-top: 3rem;
    margin: auto;
} */

main {
    background-color: #0b1221;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.about {
    margin: auto;
    font-size: 1.3em;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 2rem auto;
    font-size: 1.2em;
}

.highlights .img {
    width: 254px;
    height: 60px;
    display: inline-flex;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;
}

.prbox {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    padding: 35px;
}


.prbox a{
    color: gold;
    text-decoration: underline;
}



.prbox img {
    width: 250px;
    margin-bottom: 15px;
}


.mentor-card {
    width: 280px;
    height: 400px;
    /* border: limegreen 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    margin: 1rem;
}

.mentor-card img {
    border-radius: 50%;
    /* border: limegreen 1px solid; */
    width: 200px;
    display: inline-block;
    margin: auto;
}

.mentor-name,
.mentor-pos,
.mentor-comp {
    text-shadow: 0 0 4px white, 0 0 30px turquoise;
}

.platform a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.platform img {
    width: 200px;
}

.accordion {
    font-family: Roboticbody;
    color: #f9ce47;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: 1px solid #f9ce47;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\002B';
    color: #f9ce47;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    margin: 10px auto;
    text-align: center;
    padding: 0 18px;
    background-color: #0b1221;
    max-height: 0;
    overflow: hidden;
    width: 75%;
    transition: max-height 0.2s ease-out;
    align-self: auto;
    font-size: 1.2em;
}

hr {
    background-color: #f9ce47;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    text-align: left;
    margin-left: 100px;
    font-size: 1em;
}

footer p {
    font-family: sans-serif;
}

footer a img {
    height: 32px;
    width: 32px;
    display: inline-flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.small-icons {
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 12px;
}

footer h3 {
    margin-left: 15px;
}

.contact {
    display: flex;
}

.copyright {
    text-align: center;
    justify-content: center;
    color: gray;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.card {
    margin: 20px;
    margin-right: 15px;
    margin-left: 15px;
    /* position: absolute; */
    width: 290px;
    height: 210px;
    max-width: 100%;
    transition: all 0.75s ease;
    transform-style: preserve-3d;
    border-radius: 5px;
    text-align: center;
}

.card:hover {
    transform: rotateX(180deg);
}

#celo {
    height: 80px;
}

.front,
.back {
    /* This part controls the flip */
    backface-visibility: hidden;
    /* Size and card position */
    position: absolute;
    width: 100%;
    height: 100%;
    /* Appearance */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.front {
    background: rgb(2, 0, 36);
    background: linear-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(11, 18, 33, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: #f9ce47;
    box-shadow: 10px 10px 5px 0px rgba(2, 0, 36, 0.452);
}

.back {
    transform: rotateX(180deg);
    text-align: center;
    background-color: goldenrod;
    color: #0b1221;
    /* box-shadow: 0 0 4px #fff, 0 0 45px goldenrod; */
}

.front p {
    font-size: 0.8em;
    margin: 8px auto;
}

.front img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.glimpses {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 750px;
}

.testimonial-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.testimonial-content {
    background-color: #2f363e;
    padding: 2rem;
    border-radius: 5px;
    max-width: 400px;
    height: 360px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimonial-content h3 {
    font-size: 20px;
    color: pink;
    /* margin: 0 0 10px; */
    text-transform: uppercase;
    font-weight: 500;
}

.testimonial-content p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    margin-top: 2rem;
}

footer .old {
    width: 200px;
    height: auto;
}


/* * {
    outline: limegreen 1px solid;
} */
